[Unit]
Description=Check for a new Aplyd Sandbox release every 3 minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=3min

[Install]
WantedBy=timers.target
